In [1]:
import pandas as pd
import os
import shutil
from pathlib import Path
import random

In [2]:
ground = pd.read_hdf('/data/caitlin/ground_truth/ground_truth_table_1000.hdf')

In [3]:
ground

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
995,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
996,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
997,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
998,M336DYT1,20210612,M336_20210612_v002,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
999,M336DYT1,20210613,M336_20210613_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [4]:
# get a random sample of 700 indices for training split, remainder in testing
ixs = list(range(0, 1000))
training_ixs = random.sample(ixs, 700)

In [5]:
testing_ixs = list(set(ixs) - set(training_ixs))

In [6]:
k_train = ground[ground.index.isin(training_ixs)]
k_train

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
993,M312Slc17a7_Chr2_Bpn_CB,20200412,M312_20200412_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
994,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
997,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
998,M336DYT1,20210612,M336_20210612_v002,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
999,M336DYT1,20210613,M336_20210613_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [7]:
k_test = ground[ground.index.isin(testing_ixs)]
k_test

,animal_id,session_id,trial_id,ethograms,exp_type,notes
7,M232Slc17a7_Gtacr2,20170306,M232_20170306_v043,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
8,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
12,M232Slc17a7_Gtacr2,20170306,M232_20170306_v070,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
15,M232Slc17a7_Gtacr2,20170306,M232_20170306_v076,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
18,M232Slc17a7_Gtacr2,20170307,M232_20170307_v047,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
980,M311Slc17a7_Chr2_Bpn_CB,20200403,M311_20200403_v008,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
984,M312Slc17a7_Chr2_Bpn_CB,20200330,M312_20200330_v005,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
987,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
995,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
996,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [8]:
k_train.to_hdf('/data/caitlin/cross_validation/k1/k1_train.hdf', key='df')
k_test.to_hdf('/data/caitlin/cross_validation/k1/k1_test.hdf', key='df')

/tmp/ipykernel_671001/303945269.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['animal_id', 'session_id', 'trial_id', 'ethograms', 'exp_type',
       'notes'],
      dtype='object')]

  k_train.to_hdf('/data/caitlin/cross_validation/k1/k1_train.hdf', key='df')
/tmp/ipykernel_671001/303945269.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['animal_id', 'session_id', 'trial_id', 'ethograms', 'exp_type',
       'notes'],
      dtype='object')]

  k_test.to_hdf('/data/caitlin/cross_validation/k1/k1_test.hdf', key='df')

In [9]:
k_train = pd.read_hdf('/data/caitlin/cross_validation/k1/k1_train.hdf')
k_test = pd.read_hdf('/data/caitlin/cross_validation/k1/k1_test.hdf')

In [10]:
k_train

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
993,M312Slc17a7_Chr2_Bpn_CB,20200412,M312_20200412_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
994,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
997,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
998,M336DYT1,20210612,M336_20210612_v002,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
999,M336DYT1,20210613,M336_20210613_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [11]:
k_test

,animal_id,session_id,trial_id,ethograms,exp_type,notes
7,M232Slc17a7_Gtacr2,20170306,M232_20170306_v043,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
8,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
12,M232Slc17a7_Gtacr2,20170306,M232_20170306_v070,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
15,M232Slc17a7_Gtacr2,20170306,M232_20170306_v076,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
18,M232Slc17a7_Gtacr2,20170307,M232_20170307_v047,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
980,M311Slc17a7_Chr2_Bpn_CB,20200403,M311_20200403_v008,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
984,M312Slc17a7_Chr2_Bpn_CB,20200330,M312_20200330_v005,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
987,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
995,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
996,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [12]:
src = Path('/data/caitlin/ground_truth/')
dst = Path('/data/caitlin/cross_validation/k1/train_vids/')

In [13]:
for ix, row in k_train.iterrows():
    shutil.copy(src.joinpath(row["animal_id"], row["session_id"], row["trial_id"]).with_suffix('.avi'),
                dst.joinpath(row["trial_id"]).with_suffix('.avi'))

In [14]:
dst = Path('/data/caitlin/cross_validation/k1/test_vids/')

In [15]:
for ix, row in k_test.iterrows():
    shutil.copy(src.joinpath(row["animal_id"], row["session_id"], row["trial_id"]).with_suffix('.avi'),
                dst.joinpath(row["trial_id"]).with_suffix('.avi'))